@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Font dari google";
    src: url(resource/font/LoveYaLikeASister-Regular.ttf);
}

* {
    margin: 1vh 1vh;
    padding: 2vh;
}

hr {
    margin-top: 20px;
    padding: 0;
}

header h1 {
    text-align: center;
    font-size: 32px;
    text-shadow: -6px 3.5px 3px rgb(157, 190, 102);
    text-decoration: overline underline wavy yellow;
    color: gold;
}

article p.installed-font {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif, cursive;
    white-space: break-spaces;
}

.linked-font {
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    white-space: break-spaces;
}

.download-font {
    font-family: "Font dari google";
    font-size: 32px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.btn {
    text-align: center;
    margin: 10vh;
    padding: 5vh;
    background-color: rgb(139, 95, 160);
    display: inline;
    color: gold;
}
